
::ng-deep .slider .p-slider-handle {
    display: none !important;
}

::ng-deep .slider .p-slider {
    border-radius: 8px !important;
    background-color: #d9d9d9 !important;
}

::ng-deep .slider .p-slider .p-slider-range {
    background: var(--secondary-color) !important;
    border-radius: 8px !important;
}

.primary-container::-webkit-scrollbar {
    width: 8px;
}

.primary-container::-webkit-scrollbar-track {
    background: transparent;
}

.primary-container::-webkit-scrollbar-thumb {
    background: #d1defd;
    height: 280px;
    border-radius: 8px;
}
