<div class="bg-gray-200 w-full absolute top-0 h-screen backdrop-opacity-10 backdrop-invert"></div>
<div class="w-full h-screen absolute top-0">
    <div class="flex justify-center items-center h-full">
        <div class="flex flex-col justify-center items-center bg-gray-100 rounded-xl w-1/4 h-1/2">
            <div class="text-center mb-6">
                Please enter the code sent to
                <span class="font-bold">natasha&#64;pear.com</span>
            </div>
            <div class="flex justify-center gap-2 py-6">
                <input #input1 type="text" class="w-12 h-12 border border-gray-400 rounded-md text-center"
                    (input)="focusNext(input2)" />
                <input #input2 type="text" class="w-12 h-12 border border-gray-400 rounded-md text-center"
                    (input)="focusNext(input3)" />
                <input #input3 type="text" class="w-12 h-12 border border-gray-400 rounded-md text-center"
                    (input)="focusNext(input4)" />
                <input #input4 type="text" class="w-12 h-12 border border-gray-400 rounded-md text-center"
                    (input)="focusNext(input5)" />
                <input #input5 type="text" class="w-12 h-12 border border-gray-400 rounded-md text-center"
                    (input)="checkStatus()" />
            </div>
            <div class="text-blue-500 text-sm" (click)="notifyResendNotReceived()">Didn’t receive code? Resend</div>
        </div>
    </div>
</div>