@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

:root {
    --primary-color: #523695;
    --tailwind-background: #F4F6F8;
    --tailwind-text: #333333;
    --tailwind-accent: #FFA500;
    --tailwind-border: #CCCCCC;
}

.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::ng-deep .p-inputtext:enabled:hover {
  border-color: #d1d5db !important;
}
.text-gray{
  color: #9397AD;
}
.buttoncolor{
  background:linear-gradient(#865BD8,#4FA7BA);
}
::ng-deep .p-inputtext:enabled:focus {
  box-shadow: none !important;
}
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";