<div class="px-12">
    <div class="h-screen">
        <div class="bg-white w-100 border border-3 border-gray">
            <div class="flex justify-between py-4 px-8">
                <div class="flex">
                    <div class="flex justify-center">
                        <img src="../../../assets/images/profile.svg" class="w-12" alt="">
                    </div>
                    <div class="flex justify-center flex-col px-5">
                        <span class="text-sm font-bold">AI Chat Bot</span>
                        <span class="text-xs">General Enquiries</span>
                    </div>
                </div>
                <div class="flex justify-center flex-col px-5">
                    <p-button class="bg-red-600 px-5 text-white py-2 border border-gray-300 rounded-lg text-xs" label="Clear Chat"></p-button>
                </div>
            </div>
        </div>
        <div class="bg-white flex w-100 border border-3 border-gray" style="height: calc(100vh - 270px);">
            <div class="d-flex justify-end">
                <p-inputGroup>
                    <input type="text" pInputText placeholder="Keyword" />
                    <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
                </p-inputGroup>
            </div>
        </div>
    </div>
</div>