<div class="container mx-auto p-4">
    <div class="flex justify-between">
        <div></div>
        <div class="flex items-center space-x-4 mb-4">
            <input type="text" [(ngModel)]="searchText" placeholder="Search by Name"
                class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
            <select name="isRequired" id="isRequired" [(ngModel)]="isRequired"
                class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
                <option value="null">Select is Required</option>
                <option value="1">Optional</option>
                <option value="2">Required</option>
            </select>
            <select name="isType" id="isType" [(ngModel)]="isType"
                class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
                <option value="null">Select is Type</option>
                @for(type of typeOptions;track type){
                <option [value]="type.value">{{type.label}}</option>
                }
            </select>
            <button type="button" (click)="getQuestion()"
                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300">
                Search
            </button>
            <button type="button" (click)="displayDialog = !displayDialog"
                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300">
                Add Question
            </button>
        </div>
    </div>


    <p-table [value]="data" [paginator]="true" [rows]="limit" [totalRecords]="totalRecords"
        [showCurrentPageReport]="true" styleClass="p-datatable-striped"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (onPage)="onPageChange($event)"
        [lazy]="true" [loading]="loading" [rowsPerPageOptions]="[10, 25,50,100]" [sortMode]="'multiple'"
        (onSort)="onSort($event)">
        <ng-template pTemplate="header">
            <tr>
                <th class="px-4 py-2" style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th class="px-4 py-2" pSortableColumn="name">Name
                    <p-sortIcon field="name" class="inline-block"></p-sortIcon>
                </th>
                <th class="px-4 py-2">Required</th>
                <th class="px-4 py-2">Type</th>
                <th class="px-4 py-2">Maximum Length of Answer</th>
                <th class="px-4 py-2">Options</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td class="px-4 py-2">
                    <p-tableCheckbox [value]="rowData" />
                </td>
                <td class="px-4 py-2">{{rowData.question_text}}</td>
                <td class="px-4 py-2">
                    <span class="px-2 py-1 rounded-full text-sm" [class]="getStatusClass(rowData.required)">
                        {{rowData.required==1 ? 'false' :'true'}}
                    </span>
                </td>
                <td class="px-4 py-2">
                    <span class="px-2 py-1 rounded-full text-sm" [class]="getCellColorClass(rowData.type)">
                        {{ getType(rowData.type) }}
                    </span>
                </td>
                <td class="px-4 py-2">{{rowData.answer_length}}</td>
                <td class="px-4 py-2">
                    @if(rowData.options !==''){
                    @for(option of rowData.options;track option){
                    <span class="inline-block px-2 py-1 mx-2 rounded-md text-white bg-cyan-600">{{ option }}</span>
                    }
                    }
                </td>
                <td class="px-4 py-2">
                    <div class="flex gap-2">
                        <button (click)="editData(rowData)"
                            class="bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600 transition-colors duration-300">
                            Edit
                        </button>
                        <button (click)="deleteData(rowData)"
                            class="bg-red-500 text-white px-2 py-1 rounded-md hover:bg-red-600 transition-colors duration-300">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog header="{{ id == 0 ? 'Add Question' : 'Edit Question' }}" [(visible)]="displayDialog"
        [style]="{ 'width': '30rem' }">
        <form [formGroup]="questionForm" (ngSubmit)="save()">
            <div class="flex align-items-center gap-3 mb-3">
                <label for="question_text" class="font-semibold w-6/12">Name</label>
                <input id="question_text"
                    class="flex-auto p-2 border border-gray-300 w-full rounded-md focus:outline-none focus:border-indigo-500"
                    autocomplete="off" formControlName="question_text" />
                @if(isSubmitted && formControls.question_text.touched && formControls.question_text.errors) {
                <div class="text-danger">
                    @if(formControls.question_text.errors['required']){
                    Name is required
                    }
                </div>
                }
            </div>

            <div class="flex align-items-center gap-3 mb-3">
                <label for="type" class="font-semibold w-6/12">Type</label>
                <select id="type" formControlName="type" (change)="getValid()"
                    class="p-2 border border-gray-300 w-full rounded-md focus:outline-none focus:border-indigo-500">
                    <option value="">Select Type</option>
                    @for(type of typeOptions;track type){
                    <option [value]="type.value">{{type.label}}</option>
                    }
                </select>
                @if(isSubmitted && formControls.type.touched && formControls.type.errors) {
                <div class="text-danger">
                    @if(formControls.type.errors['required']){
                    Type is required
                    }
                </div>
                }
            </div>

            <div class="flex align-items-center gap-3 mb-3">
                <label for="required" class="font-semibold w-6/12">Required</label>
                <select id="required" formControlName="required"
                    class="p-2 border border-gray-300 w-full rounded-md focus:outline-none focus:border-indigo-500">
                    <option value="">Select</option>
                    <option value="1">Optional</option>
                    <option value="2">Required</option>
                </select>
                @if(isSubmitted && formControls.required.touched && formControls.required.errors) {
                <div class="text-danger">
                    @if(formControls.required.errors['required']){
                    Required status is required
                    }
                </div>
                }
            </div>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="answer_length" class="font-semibold w-6/12">Maximum Length of Answer</label>
                <input id="answer_length"
                    class="flex-auto p-2 border border-gray-300 w-full rounded-md focus:outline-none focus:border-indigo-500"
                    autocomplete="off" formControlName="answer_length" />
                @if(isSubmitted && formControls.answer_length.touched && formControls.answer_length.errors) {
                <div class="text-danger">
                    @if(formControls.answer_length.errors['required']){
                    Maximum length is required
                    }
                </div>
                }
            </div>
            @if(formControls.type.value=='3'){
            <div class="flex align-items-center gap-3 mb-3">
                <label for="answer_length" class="font-semibold w-6/12">Option</label>
                <p-chips class="w-full" id="tags" [separator]="','" formControlName="options"></p-chips>
            </div>
            }
            <div class="flex justify-end space-x-2">
                <button type="button"
                    class="bg-gray-200 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-300 transition-colors duration-300"
                    (click)="displayDialog = false">Cancel</button>
                <button type="button"
                    class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300"
                    (click)="save()">Save</button>
            </div>
        </form>
    </p-dialog>


</div>
<p-confirmDialog />
<p-toast />