.mail input::placeholder {
    color: red;
    opacity: 1;
    padding: 0px 20px 0px 20px;
}

.buttoncolor {
    background: linear-gradient(#865BD8, #4FA7BA);
}

::ng-deep .p-inputtext:enabled:hover {
    border-color: #d1d5db !important;
}

::ng-deep .p-inputtext:enabled:focus {
    box-shadow: none !important;
}