<div class="container mx-auto p-4">
  <div class="flex justify-between">
    <div></div>
    <div class="flex items-center space-x-4 mb-4">
      <input type="text" [(ngModel)]="searchText" placeholder="Search..."
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
      <button (click)="getPlan()"
        class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300">
        Search
      </button>
      <button (click)="displayDialog=!displayDialog"
        class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300">
        Add Plan
      </button>
    </div>
  </div>

  <p-table [value]="data" [paginator]="true" [rows]="limit" [totalRecords]="totalRecords" [showCurrentPageReport]="true"
    styleClass="p-datatable-striped" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="onPageChange($event)" [lazy]="true" [loading]="loading" [rowsPerPageOptions]="[10, 25, 50, 100]"
    [sortMode]="'multiple'" (onSort)="onSort($event)">
    <ng-template pTemplate="header">
      <tr>
        <th class="px-4 py-2" style="width: 4rem"><p-tableHeaderCheckbox /></th>
        <th class="px-4 py-2" pSortableColumn="name">Name
          <p-sortIcon field="name" class="inline-block"></p-sortIcon>
        </th>
        <th class="px-4 py-2">Description</th>
        <th class="px-4 py-2">Type</th>
        <th class="px-4 py-2">Price</th>
        <th class="px-4 py-2">Plan Type</th>
        <th class="px-4 py-2">Image Limit</th>
        <th class="px-4 py-2">Seats Limit</th>
        <th class="px-4 py-2">Word Limit</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td class="px-4 py-2">
          <p-checkbox binary="true" [(ngModel)]="rowData.checkbox"></p-checkbox>
        </td>
        <td class="px-4 py-2">{{rowData.name}}</td>
        <td class="px-4 py-2">{{rowData.description}}</td>
        <td class="px-4 py-2">{{rowData.type}}</td>
        <td class="px-4 py-2">{{rowData.currency_name}} {{rowData.price}}</td>
        <td class="px-4 py-2">{{rowData.plan_type}}</td>
        <td class="px-4 py-2">{{rowData.image_limit}}</td>
        <td class="px-4 py-2">{{rowData.seats_limit}}</td>
        <td class="px-4 py-2">{{rowData.word_limit}}</td>
        <td class="px-4 py-2">
          <div class="flex gap-2">
            <button (click)="editData(rowData)"
              class="bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600 transition-colors duration-300">
              Edit
            </button>
            <button (click)="deleteData(rowData)"
              class="bg-red-500 text-white px-2 py-1 rounded-md hover:bg-red-600 transition-colors duration-300">
              Delete
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="10">No data found.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="{{ id == 0 ? 'Add Plan' : 'Edit Plan' }}" [(visible)]="displayDialog" [style]="{ width: '35rem' }">
    <form [formGroup]="planForm" (ngSubmit)="save()" class="grid grid-cols-2 gap-4 p-4">
      <div class="col-span-2 flex flex-wrap gap-3 mb-3">
        <label for="name" class="font-semibold w-full">Name</label>
        <input type="text"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="name" />
      </div>
      <div class="col-span-2 flex flex-wrap gap-3 mb-3">
        <label for="description" class="font-semibold w-full">Description</label>
        <input type="text"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="description" />
      </div>
      <div class="col-span-2 flex flex-wrap gap-3 mb-3">
        <label for="features" class="font-semibold w-full">Features</label>
        <input type="text"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="features" />
      </div>
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="type" class="font-semibold w-full">Type</label>
        <select id="newQuestion" formControlName="type"
          class="flex-1 block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option value="">Select Type</option>
          @for (item of typeOptions; track item) {
          <option [value]="item.value">{{item.label}}</option>
          }
        </select>
      </div>
      @if(planForm.controls['type'].value=='free'){
        <div class="flex flex-wrap gap-3 mb-3">
          <label for="defaultPlan" class="font-semibold w-full">Default Plan</label>
          <select id="newQuestion" formControlName="default_plan"
            class="flex-1 block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="">Select Default Status</option>
            <option value="1">True</option>
            <option value="0">False</option>
          </select>
        </div>
      }
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="planDuration" class="font-semibold w-full">Plan Duration</label>
        <select id="newQuestion" formControlName="plan_type"
          class="flex-1 block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option value="">Select Duration</option>
          @for (item of planDurationOptions; track item) {
          <option [value]="item.value">{{item.label}}</option>
          }
        </select>
      </div>
      @if(planForm.controls['type'].value!=='free' && planForm.controls['type'].value!=='gift'){
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="price" class="font-semibold w-1/2">Price</label>
        <input type="number"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="price" />
      </div>
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="currency" class="font-semibold w-full">Currency</label>
        <select id="newQuestion" formControlName="currency_name"
          class="flex-1 block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option value="">Select Currency</option>
          @for (currency of currencies; track currency) {
          <option [value]="currency.short_name">{{ currency.full_name }}({{ currency.symbol }})</option>
          }
        </select>
      </div>
    }
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="wordLimit" class="font-semibold w-full">Word Limit</label>
        <input type="number"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="word_limit" />
      </div>
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="imageLimit" class="font-semibold w-full">Image Limit</label>
        <input type="number"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="image_limit" />
      </div>
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="seatLimit" class="font-semibold w-full">Seat Limit</label>
        <input type="number"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="seats_limit" />
      </div>
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="paymentWebhook" class="font-semibold w-full">Payment Webhook</label>
        <input type="text"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="payment_api_webhook" />
      </div>
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="paymentKey" class="font-semibold w-full">Payment Key</label>
        <input type="text"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="payment_api_key" />
      </div>
      <div class="flex flex-wrap gap-3 mb-3">
        <label for="seatKey" class="font-semibold w-full">Secret Key</label>
        <input type="text"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          autocomplete="off" formControlName="secret_key" />
      </div>
      <div class="col-span-2 flex justify-end gap-2">
        <button type="button"
          class="bg-gray-200 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-300 transition-colors duration-300">Cancel</button>
        <button type="button"
          class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300"
          (click)="save()">Save</button>
      </div>
    </form>
  </p-dialog>
</div>