<div class="flex px-16">
    <div class="rounded shadow-lg bg-white mb-4 mx-6 px-6 py-4 w-full">
        <div class="mb-2 border-b-2 flex justify-between">
            <span class="font-bold text-xl">OverView</span>
            <span>Active</span>
        </div>
    </div>
</div>
<div class="flex px-16">
    <div class="rounded shadow-lg bg-white mb-4 mx-6 px-6 py-4 w-full">
        <div class="mb-2 border-b-2 flex justify-between">
            <span class="font-bold text-xl">Upgrade</span>
        </div>
        <div class="flex flex-wrap justify-center p-4">
            @for (item of plans; track item) {
            <div class="bg-white border border-gray-200 rounded-lg shadow-md m-4 p-4 w-64 text-center">
                <div class="mb-4">
                    <h2 class="text-xl font-bold">{{ item.name }}</h2>
                    <p class="text-gray-600">{{ item.description }}</p>
                    <p class="text-gray-600">{{ item.features }}</p>
                    <p class="text-lg font-semibold">{{ item.price }} {{ item.currency_name }}</p>
                    <p class="text-gray-500">{{ item.plan_type }}</p>
                </div>
                <button (click)="selectPlan(item)"
                    class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                    Select Plan
                </button>
            </div>
            }
        </div>
    </div>
</div>