<div class="container mx-auto p-4">
    <div class="flex justify-between">
        <div></div>
        <div class="flex items-center space-x-4 mb-4">
            <input type="text" [(ngModel)]="searchText" placeholder="Search The Name"
                class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
                <select id="status" [(ngModel)]="status"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="null">Select Status</option>
                    <option value="1">Enabled</option>
                    <option value="0">Disabled</option>
                </select>
                <select id="status" [(ngModel)]="type"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="null">Select Type</option>
                    <option value="1">Text</option>
                    <option value="2">Image</option>
                </select>
                <select id="status" [(ngModel)]="category"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="null">Select category</option>
                    @for(category of categories;track category){
                        <option [value]="category.id">{{category.name}}</option>
                    }
                </select>
            <button (click)="getPrompts()"
                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300">
                Search
            </button>
            <button (click)="displayDialog=!displayDialog"
                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300">
                Add Prompt
            </button>
        </div>
    </div>

    <p-table [value]="data" [paginator]="true" [rows]="limit" [totalRecords]="totalRecords"
        [showCurrentPageReport]="true" styleClass="p-datatable-striped"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (onPage)="onPageChange($event)"
        [lazy]="true" [loading]="loading" [rowsPerPageOptions]="[5, 10, 25, 50, 100]" [sortMode]="'multiple'"
        (onSort)="onSort($event)">
        <ng-template pTemplate="header">
            <tr>
                <th class="px-4 py-2" style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th class="px-4 py-2" pSortableColumn="name">Name
                    <p-sortIcon field="name" class="inline-block"></p-sortIcon>
                </th>
                <th class="px-4 py-2">Description</th>
                <th class="px-4 py-2">Status</th>
                <th class="px-4 py-2">Type</th>
                <th class="px-4 py-2">Max Tokens</th>
                <th class="px-4 py-2">Category</th>
                <th class="px-4 py-2">Questions</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td class="px-4 py-2">
                    <p-tableCheckbox [value]="rowData" />
                </td>
                <td class="px-4 py-2">{{ rowData.name }}</td>
                <td class="px-4 py-2">{{ rowData.description }}</td>
                <td class="px-4 py-2">
                    <span class="px-2 py-1 rounded-full text-sm" [class]="getStatusClass(rowData.status)">
                        {{ rowData.status == '1' ? 'Enabled' : 'Disabled' }}
                    </span>
                </td>
                <td class="px-4 py-2">
                    <span class="px-2 py-1 rounded-full text-sm" [class]="getStatusClass(rowData.type)">
                        {{ rowData.type == '1' ? 'Text' : 'Image' }}
                    </span>
                </td>
                <td class="px-4 py-2">{{ rowData.max_tokens }}</td>
                <td class="px-4 py-2">{{ getCategory(rowData.category) }}</td>
                <td class="px-4 py-2">
                    @if(rowData.question_list){
                        @for(question of rowData.question_list;track question){
                            <div class="inline-block px-2 py-1 mx-2 my-2 rounded-md text-white bg-cyan-600">
                                {{ getQuestionName(question) }}
                            </div>
                        }
                    }
                </td>
                <td class="px-4 py-2">
                    <div class="flex gap-2">
                        <button (click)="editData(rowData)"
                            class="bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600 transition-colors duration-300">
                            Edit
                        </button>
                        <button (click)="deleteData(rowData)"
                            class="bg-red-500 text-white px-2 py-1 rounded-md hover:bg-red-600 transition-colors duration-300">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No records found.</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="{{ id == 0 ? 'Add Prompt' : 'Edit Prompt' }}" [(visible)]="displayDialog"
        [style]="{ width: '40rem' }">
        <form [formGroup]="promptForm" (ngSubmit)="save()" class="p-6 space-y-6">
            <div class="flex items-center space-x-4">
                <label for="name" class="w-20 font-semibold text-gray-700">Name</label>
                <input id="name" type="text" formControlName="name"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    autocomplete="off">
            </div>

            <div class="flex items-center space-x-4">
                <label for="status" class="w-20 font-semibold text-gray-700">Status</label>
                <select id="status" formControlName="status"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="">Select</option>
                    <option value="1">Enabled</option>
                    <option value="2">Disabled</option>
                </select>
            </div>

            <div class="flex items-center space-x-4">
                <label for="type" class="w-20 font-semibold text-gray-700">Type</label>
                <select id="type" formControlName="type"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="">Select</option>
                    <option value="1">Text</option>
                    <option value="2">Image</option>
                </select>
            </div>

            <div class="flex items-center space-x-4">
                <label for="description" class="w-20 font-semibold text-gray-700">Description</label>
                <input id="description" type="text" formControlName="description"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    autocomplete="off">
            </div>
            <div class="max-w-xl mx-auto p-6 bg-white rounded-lg shadow-md">
                <h3 class="text-lg font-semibold mb-4">Questions</h3>
                <div class="mb-6">
                    <label for="newQuestion" class="block text-sm font-medium text-gray-700 mb-2">Select Question:</label>
                    <div class="flex items-center space-x-4">
                        <select id="newQuestion" (change)="getQuestionChange($event)" class="flex-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option value="">Select a new question...</option>
                            @for (question of questions; track question) {
                                <option  [value]="question.id">{{ question.question_text }}</option>
                            }
                        </select>
                        <button type="button" (click)="addQuestion()" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Add
                        </button>
                    </div>
                </div>
                <div>
                    <p class="text-sm font-medium text-gray-700 mb-2">Question List:</p>
                    <ul class="divide-y divide-gray-200">
                        @for (question of addquestions; track question; let i = $index) {
                            <li  draggable="true" (dragstart)="onDragStart($event, i)" (dragover)="onDragOver($event)" (drop)="onDrop($event, i)">
                                <div class="flex items-center justify-between bg-gray-100 rounded-lg shadow-sm px-4 py-3">
                                    <span class="text-gray-800">{{ question.question_text }}</span>
                                    <button (click)="removeQuestion(i)" class="text-red-500 hover:text-red-700 focus:outline-none">
                                        Remove
                                    </button>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <label for="prompt" class="w-20 font-semibold text-gray-700">Prompt</label>
                <textarea readonly id="prompt" formControlName="prompt"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    autocomplete="off"></textarea>
            </div>

            <div class="flex items-center space-x-4 mt-4">
                <label for="engine" class="w-20 font-semibold text-gray-700">Engine</label>
                <select id="engine" formControlName="engine"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="">Select</option>
                    <option value="GPT-4">GPT-4</option>
                    <option value="GPT-3.5">GPT-3.5</option>
                </select>
            </div>

            <div class="flex items-center space-x-4">
                <label for="max_tokens" class="w-20 font-semibold text-gray-700">Max Tokens</label>
                <input id="max_tokens" type="text" formControlName="max_tokens"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    autocomplete="off">
            </div>

            <div class="flex items-center space-x-4">
                <label for="category" class="w-20 font-semibold text-gray-700">Category</label>
                <select id="category" formControlName="category"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="">Select</option>
                    @for(category of categories;track category){
                        <option [value]="category.id">{{category.name}}</option>
                    }
                </select>
            </div>
            
            <div class="flex items-center space-x-4">
                <label for="persona" class="w-20 font-semibold text-gray-700">Persona</label>
                <select id="persona" formControlName="persona"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    <option value="">Select</option>
                    @for(persona of personas;track persona){
                        <option [value]="persona.id">{{persona.name}}</option>
                    }
                </select>
            </div>

            <div class="flex justify-end space-x-2">
                <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                    (click)="displayDialog=false">
                    Cancel
                </button>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Save
                </button>
            </div>
        </form>
    </p-dialog>
</div>