<div class="w-full bg-white h-full" style="height: 100vh; overflow-y: auto;">
    <div class="flex flex-col rounded shadow-lg border-4 mx-10">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Theme Settings</div>
            <div class="mt-4">
                <label for="themeSelect" class="block text-gray-700 text-sm font-bold mb-2">Select Theme</label>
                <select id="themeSelect" [(ngModel)]="mode"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="0">Light Theme</option>
                    <option value="1">Dark Theme</option>
                </select>
            </div>
            <div class="mt-6 flex flex-wrap">
                @for(color of colorSettings;track color.value){
                    <div class="flex mb-4 flex-col w-[28%]">
                        <label [for]="color.key" class="ml-4 mb-2 text-gray-700 font-bold">{{ getColorLabel(color.key) }}</label>
                        <input [id]="color.key" type="color" [(ngModel)]="color.value"
                            class="shadow appearance-none py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-72 h-12 rounded border border-gray-300">
                    </div>
                }
            </div>
        </div>
        <div class="px-6 py-4">
            <button (click)="save()"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Save
            </button>
        </div>
    </div>
</div>
