<div class="flex bg-gray-800">
  <aside class="w-2/12 bg-gray-800 text-white">
      <div class="border-b-2 border-sky-100 px-3 py-5 text-center">
        <span class="text-base">WarDire</span>
      </div>
      <ul class="px-3 py-3 border-e-2">
        @for ( menuItem of menuItems;track menuItem){
          <li class="py-3">
            @if(menuItem.submenu){
              <p class="font-semibold text-gray-500 text-[15px] px-4">{{ menuItem.title }}</p>
              <ul class="pl-4 space-y-2">
                @for(subItem of menuItem.submenu;track subItem){
                  <li>
                    @if(subItem.title !== 'Logout'){
                      <a [routerLink]="subItem.link" routerLinkActive="active" class="p-1 px-3 text-gray-400 text-sm cursor-pointer">
                        <i class="pi pi-fw {{ subItem.icon }} mr-2"></i>{{ subItem.title }}
                      </a>
                    } @else if (subItem.title == 'Logout'){
                      <a (click)="userService.logOut()" class="p-1 text-gray-400 text-sm cursor-pointer">
                        <i class="pi pi-fw {{ subItem.icon }} mr-2"></i>{{ subItem.title }}
                      </a>
                    }
                  </li>
                }
              </ul>
            } @else if (!menuItem.submenu) {
              <a [routerLink]="menuItem.link" routerLinkActive="active" class="p-3 text-center text-gray-400">
                <i class="pi pi-fw {{ menuItem.icon }} mr-2"></i>{{ menuItem.title }}
              </a>
            }
          </li>
        }
      </ul>
  </aside>

  <div class="w-10/12">
    <nav class="w-full px-5 py-2 justify-end flex border-b-2 bg-gray-800">
      <div class="h-12 flex justify-between items-center">
        <div class="ml-4">
          <a href="#" class="text-sky-500">Landing Page</a>
          <a routerLink="/user" class="ml-4 text-sky-500">User Dashboard</a>
          <select class="ml-6 rounded border border-gray-300 focus:outline-none px-3 py-2">
            @for(lan of languages;track lan){
              <option [value]="lan.code">{{lan.name}}</option>
            }
          </select>
        </div>
      </div>
    </nav>
      <router-outlet></router-outlet>
  </div>
</div>
