<div class="flex justify-between w-100 p-10 gap-16">
    <div class="text-3xl text-black">{{headerName}}</div>
    <div class="flex">
        <div class="">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" class=" px-10 bg-transparent h-10 rounded-full w-96 border bottom-8"/>
            </p-iconField>
        </div>
    </div>
    <div class="flex items-center justify-end gap-8">
        <button class="buttoncolor text-white py-4 px-6 rounded-lg text-sm">UPGRADE</button>
        <img src="../../../assets/images/profile_1.svg" alt="profile" />
    </div>
</div>