<div class="container mx-auto p-4">
    <div class="flex justify-between">
        <div></div>
        <div class="flex items-center space-x-4 mb-4">
            <input type="text" [(ngModel)]="searchText" placeholder="Search..."
                class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
            <button (click)="getRoles()"
                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300">
                Search
            </button>
            <button (click)="add() "
                class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300">
                Add Role
            </button>
        </div>
    </div>

    <p-table [value]="rolesList" [paginator]="true" [rows]="limit" [totalRecords]="totalRecords"
        (onPage)="onPageChange($event)" [lazy]="true" [loading]="loading" [rowsPerPageOptions]="[5, 10, 25,50,100]"
        [sortMode]="'multiple'" (onSort)="onSort($event)">
        <ng-template pTemplate="header">
            <tr>
                <th class="px-4 py-2" style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th class="px-4 py-2" pSortableColumn="name">Name <p-sortIcon field="name"
                        class="inline-block"></p-sortIcon></th>
                <th class="px-4 py-2">Updated</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td class="px-4 py-2">
                    <p-tableCheckbox [value]="rowData" />
                </td>
                <td class="px-4 py-2">{{rowData.name}}
                    @if(rowData.isDefault){
                        <span class="ml-2 inline-block bg-blue-500 text-white text-xs px-2 py-1 rounded-full">Default</span>
                    }                    
                </td>
                <td class="px-4 py-2">
                    {{rowData.updateName}}<br/>
                    {{rowData.updated_at |date}}
                </td>
                <td class="px-4 py-2">
                    <div class="flex gap-2">
                        <button (click)="editData(rowData)"
                            class="bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600 transition-colors duration-300">
                            Edit
                        </button>
                        <!-- <button (click)="deleteData(rowData)"
                            class="bg-red-500 text-white px-2 py-1 rounded-md hover:bg-red-600 transition-colors duration-300">
                            Delete
                        </button> -->
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="{{id==0 ? 'Add Role':'Edit Role'}}" [(visible)]="displayDialog"
        [style]="{ width: '25rem',height:'800px'}">
        <div class="p-fluid">
            <div class="p-field p-grid mb-3">
                <label for="permissionName" class="font-semibold w-6rem">Name</label>
                <input id="permissionName"
                    class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    autocomplete="off" [(ngModel)]="roleName" />
            </div>
            <div class="p-field p-grid mb-3">
                <label for="status" class="p-col-12 p-md-6 font-semibold mx-5">Is Default Status</label>
                <input type="checkbox" id="status" [(ngModel)]="isDefault" class="h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500" />
            </div>
            <div class="p-field p-grid mb-3">
                <label for="status" class="p-col-12 p-md-6 font-semibold mx-5">Permisssions</label>
                <p-tree [value]="permissionTree" selectionMode="checkbox" [(selection)]="selectedPermissions"
                    placeholder="Select Permissions" class="w-full md:w-25rem">
                </p-tree>
            </div>
            <div class="p-field p-grid">
                <div class="p-col-12">
                    <div class="flex justify-end space-x-2">
                        <button type="button"
                            class="bg-gray-200 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-300 transition-colors duration-300"
                            (click)="close()">Cancel</button>
                        <button type="button"
                            class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition-colors duration-300"
                            (click)="save()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</div>