<p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
<div class="px-12">
    <div class="pt-3">
        <div class="flex w-100">
            <input pInputText class="w-full py-2 px-4 border border-gray-300 rounded-lg" id="username" aria-describedby="username-help"  />
            <p-button label="Submit" class="buttoncolor bg-gray px-10 font-thin py-2 border border-gray-300 rounded-lg"></p-button>
        </div>
        <div class="flex gap-1 w-1/2 pt-6">
            <div class="py-2 w-1/2 px-2">
                <label class="text-base text-gray">No of Images</label>
                <div class="flex items-center py-3">
                    <p-dropdown [options]="language" optionLabel="name"></p-dropdown>
                </div>
            </div>
            <div class="py-2 w-1/2 px-2">
                <label class="text-base text-gray">Image Size</label>
                <div class="flex items-center py-3">
                    <p-dropdown [options]="language" optionLabel="name"></p-dropdown>
                </div>
            </div>
            <div class="py-2 w-1/2 px-2">
                <label class="text-base text-gray">Style</label>
                <div class="flex items-center py-3">
                    <p-dropdown [options]="language" optionLabel="name"></p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-6">
        <div class="flex flex-wrap">
            <img src="../../../assets/images/download.jpg" alt="" srcset="">
        </div>
    </div>
</div>