<p-dialog header="Update Email" [(visible)]="userEmail" [style]="{ width: '50rem'}">
  @if(user){
    <div class="p-fluid">
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <h2>User Details</h2>
          <p><strong>Name:</strong> {{user.name}} {{user.surname}}</p>
          <p><strong>Email:</strong> {{user.email}}</p>
          <p><strong>Phone Number:</strong> {{user.phone_number}}</p>
        </div>
        <div class="p-col-12 p-md-6">
          <h2 class="text-xl font-bold">Update Email</h2>
            <div class="p-field flex flex-col w-full">
              <label for="currentEmail">Current Email Address</label>
              <input id="currentEmail" type="text" pInputText [value]="user.email" readonly>
            </div>
            <div class="p-field flex flex-col w-full">
              <label for="newEmail">New Email Address</label>
              <input id="newEmail" type="email" pInputText [formControl]="newEmail" required>
              <!-- @if(newEmail?.invalid && newEmail?.touched){
                <small class="p-error">
                  Enter a valid email address
                </small>
              } -->
            </div>
            <div class="flex items-center gap-3 mb-3 w-full">
              <p-inputSwitch id="accountStatus" class="w-6/12" [(ngModel)]="verifyCondition"></p-inputSwitch>
              <label class="text-start  w-6/12">
                <span class="font-semibold">
                  Reset Email Verification & Send Verification Email?
                </span>
                <span class="text-sm">
                  As email is being changed to new, user should verify whether they have access to new email or not.
                </span>
              </label>
            </div>
            <div class="p-dialog-footer">
              <button (click)="onCancel()">Cancel</button>
              <button (click)="update()">Update</button>
            </div>
        </div>
      </div>
    </div>
  }
</p-dialog>