<div class="flex justify-between w-100 p-10 gap-16">
    <div class="text-3xl text-black">{{headerName}}</div>
    <div class="flex">
        <div class="">
            <i class="pi pi-search" style="left: 25px; color: #d9d9d9;"></i>
            <input type="text" pInputText class="h-10 rounded-full w-56 border-transparent" placeholder="search tools">
        </div>
    </div>
    <div class="flex items-center justify-end gap-8">
        <button class="buttoncolor text-white py-4 px-6 rounded-lg text-sm">UPGRADE</button>
        <img src="../../../assets/images/profile_1.svg" alt="profile" />
    </div>
</div>